{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de Jean-Claude Convenant !
{% endblock %}

{% block body %}
	{% for message in app.flashes('forbidden') %}
		<div class="alert alert-danger text-center">
			{{ message }}
		</div>
	{% endfor %}

	<div class="accordion mb-5" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					<strong>Qui suis-je ?</strong>
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<strong>Lorem ipsum dolor sit amet consectetur adipisicing.</strong>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet excepturi, asperiores sunt maiores aut eos voluptatem quae voluptatum consequuntur, nostrum repellat. Dolorum tempora quos sit nobis alias cumque ea voluptas est beatae, nisi iusto, dolorem voluptatibus voluptatum nemo. Dolor quaerat sed commodi magnam, est eum dolores quisquam deleniti, similique impedit eius, molestiae sint sequi aliquid nihil ut blanditiis quis. Rem, autem. Placeat, aut? Laudantium eius ab perspiciatis facere voluptatem, molestias vitae deserunt vel obcaecati eaque tempora est maiores officiis magni similique harum molestiae fuga suscipit optio? Repellendus commodi voluptate facere nostrum rem, qui nam a exercitationem optio corporis quidem dignissimos.
				</div>
			</div>
		</div>
	</div>

	<h1 class="text-center mb-3">Les derniers cours</h1>

	{% include 'front/shared/lessons.html.twig' %}

{% endblock %}
